.adminMenuBlock {
   padding: 0 20px 0 0;
   position: relative;
}

.menuLink:hover {
   text-decoration: underline;
   cursor: pointer;
}

.adminMenu {
   width: 200px;
   height: 200px;
   background-color: brown;
   position: absolute;
   top: 20px;
   left: -10px;
   display: flex;
   flex-direction: column;
   padding: 10px;
   z-index: 2;
}

.adminMenu a {
   cursor: pointer;
   margin: 0 0 10px 0;

}

.adminMenu a:hover {
   text-decoration: underline;
}

.shadowBlock {
   position: fixed;
   height: calc(100% + 500px);
   width: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   top: -50px;
   left: -20px;
   z-index: 1;
}