.menu {
   display: flex;
   padding: 20px;
   
}
.links{
   margin: 0 0 0 20px;
}
.links a {
   margin: 0 10px 0 0;
   color: #fff;
}

.links a.active {
   color:rgb(7, 154, 167);
   text-decoration: underline;
   font-weight: 700;
}