.title{
   text-align: center;
   font-size: 28px;
   font-weight: 700;
   margin: 0 0 20px 0;
   padding: 0 0 10px 0;
   border-bottom: 2px solid #fff;
}
.addSuccess {
   background-color: green;
   padding: 10px 15px;
   font-size: 18px;
   color: #fff;
   border-radius: 10px;
}